<h1>Administration</h1>

<ul>
  <li><%= link_to 'Manage Users', admin_users_path %></li>
  <li><%= link_to 'Manage Places', admin_places_path %></li>
  <li><%= link_to 'Add Logos', admin_logos_path %></li>
</ul>