// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



$bg: #faf7f7;
$color: #8c7e7e;

body {
  background-color:#EEE;
}
.show {
}
// .container-fluid {
//   margin-right: auto;
//   margin-left: auto;
// }
.gridWrapper {
    width:73%;
    display:inline-block;
}
.grid {
  display:block;
  position:relative;
}
.mapWrapper {
  width:28%;
  display:inline;
}
#container {
  // margin: 0 auto;
}
.container-fluid { margin:0 auto;}
.container {
  width:980px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

.pagination {
  position:relative;
  // left: -9999px;
  left:90px;
  width:200px;
}

th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
th .asc {
  background-image: url(/images/up_arrow.png);
}

th .desc {
  background-image: url(/images/down_arrow.png);
}
.grid {
  .box {
    width:200px;
    float: left;
    padding: 10px;
    margin: 0 7px 15px;
    font-size: 13px;
    background: white;
    box-shadow:  0 1px 3px rgba(34,25,25,0.4);
    line-height: 1.5;
    h2 {
      padding: 0;
      font-size:13px;
      line-height: 20px;
    }
    .comments {
      color: $color;
      padding: 5px 0 0 5px;
      overflow: auto;
      width: 100%
    }
    .chat {
      background: white;
      margin: 0 0px;
    }
    .chatbox {
      border-top: 1px solid white;
      border-bottom: 1px solid rgba(#000,.1);
      padding: 5px 5px;
      padding-left:10px;
      // @include pie-clearfix;
      &:last-child {
        border-bottom: none;
      }
      &:first-child {
      	color: #b29c9c;
      	b {
        	color: #8c7e7e;
      	}
      }
    }
  }
  .moreInfo {
    position:absolute;
    width:100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, .62);
    text-align: center;
    h2 a{
      color:#999;
      margin: 2px 0px;
    }
  }
}
.list {
  .box {
    width:40%;
    background: white;
    box-shadow:  0 1px 3px rgba(34,25,25,0.4);
    line-height: 1.5;
    margin: 0 0 10px 0;
  h2 {
      padding: 0;
      font-size:13px;
      line-height: 20px;
    }
    .comments {
      color: $color;
      overflow: auto;
      width: 100%;
      display:inline;
    }
    .chat {
      background: white;
      margin: 0 0px;
    }
    .chatbox {
      border-top: 1px solid white;
      border-bottom: 1px solid rgba(#000,.1);
      padding: 5px 5px;
      padding-left:10px;
      // @include pie-clearfix;
      &:last-child {
        border-bottom: none;
      }
      &:first-child {
        color: #b29c9c;
        b {
          color: #8c7e7e;
        }
      }
    }
  }
  .moreInfo {

    h2 a{
      color:#999;
      margin: 2px 0px;
    }
  }
  .listImage {
    width:100px;
    height:75px;
  }
}


.blockContainer {
  background-color: white;
  padding: 5px 5px;
  box-shadow:  0 1px 3px rgba(34,25,25,0.5);
  position: relative;
}

.centered {
	margin: 0 auto;
}

.imageContainer {
  position: relative;
}

.image {
  // box-shadow: 3px 3px 3px #888888;
}



/**** Clearfix ****/

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



.center {
	text-align: center;
}
.fl {
  float:left;
}
.fr {
  float:right;
}


/**** Lightbox ****/



.black_overlay{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.70;
  filter: alpha(opacity=80);
}

.lightboxContainer {

}

.lc {
  float:left;
  height: 100%;
  max-height: 2048px;
  min-height: 480px;
  position: relative;
  display:inline;
  width: 66%;
}
.rc {
  display:inline;
  float:right;
  height: 100%;
  overflow: hidden;
  position: relative;
  word-wrap: break-word;
  width: 33%;
}

/** Profiles **/

.color {
  background: #DBD9D9;
  padding: 5px;
}

.coverphoto2 {
  box-shadow:  0 1px 3px rgba(34,25,25,0.4);
  display:block;
  height:100px;
}

.col1 {
  background:none;
  padding: 0;
  margin: 0 auto;
  line-height: 1.5;
  // background: black;
  // color:white;
  // opacity: .85;
  // box-shadow:  0 1px 3px rgba(34,25,25,0.4);
}

.col2 {
  // margin: 0 auto;
  overflow:auto;
  background:none
}

.col3 {
  background:none
}

.singlegram {
  float: left;
  padding: 5px;
  margin: 0 5px 10px 5px;
  font-size: 13px;
  line-height: 1.5;
  background:white;
  box-shadow:  0 1px 3px rgba(34,25,25,0.4);
}

#bizContainer {
  box-shadow:  0 1px 3px rgba(34,25,25,0.4);
  padding: 5px;
  background: white;
  // color:white;
  // opacity: .85;
  margin-bottom:10px;
  display:relative;
  bottom:2%;
}
#instagramContainer {
  overflow:hidden;
  margin-bottom:10px;
}

#dishesContainer {
  margin: 0;
  overflow:hidden;
  margin-bottom:10px;
}
.dishItem {
  // padding: 10px;
  margin: 0 5px 10px 0;
  font-size: 13px;
  line-height: 1.5;
  background:white;
  list-style: none;
  box-shadow:  0 1px 3px rgba(34,25,25,0.4);
  overflow:auto;
  li {

    margin: 0;
  }
}
.showImage {
      float:left;
      margin-right: 10px;
      height:100px;
    }
.dishText {
  padding: 10px;

}


#bizInfo {
  padding:5px;
  overflow:hidden;
  .wrap {
    display: inline;
    float: left;
    overflow: hidden;
    width:200px;
  }
  .map {
    float:right;
  }
}



/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

#infscr-loading {
  position:absolute;
  bottom:20px;
}

#follow_form {
  float:right;
  display:inline;
  margin-top:10px;}
#twitter {

  p {
    margin:0;
  }
}

.info {
  position: absolute;
  right: 10px;
}



.articleImage {
  height:50px;
}