// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



$bg: #faf7f7;
$color: #8c7e7e;


.show {
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1240px; /* or 950px */
}

.main {

}


.pagination {
  position:absolute;
  left: -9999px;
}

.box {
  width: 300px;
  float: left;
  padding: 5px;
  margin: 0 7px 15px;
  font-size: 13px;
  background: white;
  box-shadow:  0 1px 3px rgba(34,25,25,0.4);
  line-height: 1.5;
  h2 {
    padding: 0;
    font-size:13px;
    line-height: 20px;
  }
  .comments {
    color: $color;
    padding: 5px 0 0 5px;
    overflow: auto;
    width: 100%
  }
  .chat {
    background: white;
    margin: 0 0px;
  }
  .chatbox {
    border-top: 1px solid white;
    border-bottom: 1px solid rgba(#000,.1);
    padding: 5px 5px;
    padding-left:10px;
    // @include pie-clearfix;
    &:last-child {
      border-bottom: none;
    }
    &:first-child {
    	color: #b29c9c;
    	b {
      	color: #8c7e7e;
    	}
    }
  }
}
.blockContainer {
  background-color: white;
  padding: 5px 5px;
  box-shadow:  0 1px 3px rgba(34,25,25,0.4);
  position: relative;
}

.centered {
	margin: 0 auto;
}

.imageContainer {
  position: relative;
}

.image {
  box-shadow: 3px 3px 3px #888888;
  width:300px;
  height:200px;
}

.moreInfo {
  position:absolute;
  width:100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, .62);
  text-align: center;
  h2 {
    color:white;
    margin: 2px 0px;
  }
}

/**** Clearfix ****/

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



.center {
	text-align: center;
}
.fl {
  float:left;
}
.fr {
  float:right;
}


/**** Lightbox ****/



.black_overlay{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.70;
  filter: alpha(opacity=80);
}

.lightboxContainer {

}

.lc {
  float:left;
  height: 100%;
  max-height: 2048px;
  min-height: 480px;
  position: relative;
  display:inline;
  width: 66%;
}
.rc {
  display:inline;
  float:right;
  height: 100%;
  overflow: hidden;
  position: relative;
  word-wrap: break-word;
  width: 33%;
}

/** Profiles **/

.color {
  background: #DBD9D9;
  padding: 5px;
}

.coverphoto2 {
  box-shadow:  0 1px 3px rgba(34,25,25,0.4);
  display:block;
  height:100px;
}

.col1 {
  float: left;
  padding: 5px;
  margin: 10px 0 0 0;
  background: white;
  line-height: 1.5;
  box-shadow:  0 1px 3px rgba(34,25,25,0.4);
}

.col2 {
  // padding: 5px;
  // box-shadow:  0 1px 3px rgba(34,25,25,0.4);
  margin: 0 auto;
  overflow:auto;
}

.col3 {
  background: white;
  box-shadow:  0 1px 3px rgba(34,25,25,0.4);
  padding: 10px 10px 10px 20px;
}

.singlegram {
  float: left;
  padding: 3px;
  margin: 0 5px 10px 5px;
  font-size: 13px;
  background: white;
  box-shadow:  0 1px 3px rgba(34,25,25,0.4);
  line-height: 1.5;
}

