<div id="instagramContainer">
<% for instagram in @instagram.data %>
  <div class="singlegram">
    <%= link_to image_tag(instagram.images.thumbnail.url), "#{instagram.images.standard_resolution.url}", class: 'various' %>
  </div>
<% end %>
</div>