<div id="bizContainer">
  <h3>As seen on:</h3>
  <div class="articleImage"><%= image_tag 'https://s3-us-west-1.amazonaws.com/wespot-photo-uploads/uploads/logos/CHOW.png', :size => '-1x24' %>
  </div>
</div>