<div class="bizContainer">
  <div id="bizInfo">

  <p><%= image_tag @place.image_url %></p>
  <p><%= image_tag @place.rating_img_url %></p>
  <p><b># of reviews:</b><%= @place.review_count %></p>

<p><b>Category:</b> Italian<p>
    <p><b>Price:</b> $$</p>
    <p><b>Hours:</b> Tuesday to Saturday<br/>
    5:30pm to 12:30am</p>
  </div>
  </div>