<div id="bizContainer">
<div id="bizInfo">



  <div class="wrap">
    <%= @place.gmaps4rails_address %>
    <p>(415) 487-1600</p>
    <p><a href="#">Website</a></p>

    <span>Category: Italian<br/>
    Price: $$<br/>
    Hours: Tuesday to Saturday<br/>
    5:30pm to 12:30am</span>
  </div>

  <div class="map">
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=350x233&sensor=false&zoom=16&markers=#{@place.latitude}%2C#{@place.longitude}" %>
  </div>


</div>
</div>