<h3>Contact</h3>
  <%= @place.gmaps4rails_address %>
  <a href="#">Website</a>
  <a href="#">Yelp</a>
  <p>(415) 487-1600</p>

  <p>Hours: Tuesday to Saturday</p>
  <p>5:30pm to 12:30am</p>
  <p>Price Range: $$</p>


<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@place.latitude}%2C#{@place.longitude}" %>

