
<%= @place.business_name %>
<%= image_tag @place.coverphoto_url(:thumb).to_s %>

<%# @twitter.each do |t| %>
        <%# image_tag t.user.profile_image_url, class: 'avatar' %>
        <p><%# t.text %></p>
      <%# end %>